<div class="footerContainer">
    <!-- Licious value design start -->
    <div class="componentContainerParent">
        <div class="componentLiciousValueContainer">
            <div class="liciousValues_gridContainer">
                <div class="liciousValueSectionContainer">
                    <div class="liciousValuesTopSmallBorder"></div>
                    <p class="liciousValuesHeading">We will sell only the meat that we would eat
                        ourselves.</p>
                    <p class="liciousValuesContent">At Licious, we’re big meat-lovers. And by big, we
                        mean huge. So when it comes to the meat we put on your plate, we’re extremely picky. Every
                        single product is handpicked by a team with years of experience.</p>
                </div>
                <div class="liciousValueSectionContainer">
                    <div class="liciousValuesTopSmallBorder"></div>
                    <p class="liciousValuesHeading">If it’s not fresh, we won’t sell it</p>
                    <p class="liciousValuesContent">For meat to stay fresh and retain its natural
                        juices, it needs to be stored at a temperature between 0° and 5°C. We maintain this temperature
                        from the time we procure the product to cleaning, cutting and storing it, until it leaves for
                        delivery. And even when it’s out for delivery, we keep it chilled right up to your doorstep.Did
                        we mention that we’re obsessed?</p>
                </div>
                <div class="liciousValueSectionContainer">
                    <div class="liciousValuesTopSmallBorder"></div>
                    <p class="liciousValuesHeading">We will charge only for what you buy</p>
                    <p class="liciousValuesContent">Doesn’t everyone do this? Not really. Most other
                        places first weigh the meat, then cut up the pieces, and throw out the parts which aren’t fit to
                        eat, such as offal, gizzard, wingtips, etc. But you still pay based on the original weight even
                        though what you finally get is 10% to 30% less</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Licious value design end -->

    <app-footer-content-middle [citiesWeServe]="citiesWeServe"></app-footer-content-middle>

    <app-footer-popular-search></app-footer-popular-search>

    <!-- Copyright design start -->
    <div class="rightsContainer">
        <div class="firstLine">© 2021 Delightful Gourmet Pvt Ltd. All Rights Reserved.</div>
        <div>Licious is your one-stop fresh meat delivery shop. In here, you get nothing but the freshest meat &amp;
            seafood, delivered straight to your doorstep. Now you can buy meat online anytime at your convenience.
            Indulge in our diverse selection: Chicken, Mutton, Seafood (Fish, Prawns, Crabs), Marinades &amp; Cold Cuts.
            All our products are completely natural and healthy. Once you've experienced Licious, you'll never go back
            to the old way of buying meat and seafood. </div>
    </div>
    <!-- Copyright design end -->
</div>