<div class="Modal_location_popup_backdrop__BGnPo">
    <div>
        <section class="LocationPopup_popup_container___6tXZ">
            <div class="LocationPopup_popup_wrapper__YDukU">
                <div class="LocationPopup_search_bar_container__jElBR">
                    <div class="LocationPopup_search_placeholder__Xakwi">
                        <div class="LocationPopup_portion__olXjC"><img
                                src="https://www.licious.in/image/search_venus_icon.svg" alt="search" height="24"
                                width="24" class="LocationPopup_search_icon__q4So3"><span class="title_5">Search for
                                your location</span></div>
                        <div class="LocationPopup_portion__olXjC LocationPopup_use_my_loc__lvpUr"><img
                                src="https://www.licious.in/image/default/svg/Locate.svg" alt="my location" height="20"
                                width="20" class="LocationPopup_location_icon__3M8Di"><span class="title_5">Use current
                                location</span></div>
                    </div>
                </div>
                <div class="LocationPopup_address_list__Eqzf2"><span
                        class="title_4 LocationPopup_saved_address_heading__P5uFH"></span>
                    <div class="LocationPopup_saved_addresses__uYeE_"></div>
                </div>
            </div>
            <!-- <div class="LocationPopup_popup_wrapper__YDukU">
                <div class="LocationPopup_search_bar_container__jElBR">
                    <div class="LocationPopup_search_bar__cLWrF"><input type="text"><button><img
                                src="https://licious.in/image/rebranding/svg/cross_icon_black.svg" height="16" width="16"></button></div>
                </div>
                <div class="LocationPopup_address_list__Eqzf2"><span
                        class="title_4 LocationPopup_saved_address_heading__P5uFH"></span>
                    <div class="LocationPopup_saved_addresses__uYeE_"></div>
                </div>
            </div> -->
            <div class="LocationPopup_error_message__h3oR2">Sorry, we do not serve your area yet. We're working on it
                and hope to be able to serve you very soon!</div>
        </section>
    </div>
</div>