
.Modal_bottomsheet_backdrop__Mjbt1,.Modal_location_popup_backdrop__BGnPo {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.639);
    z-index: 1001;
    position: fixed;
    top: 0
}
@media screen and (min-width: 767px) {
    .Modal_location_popup_backdrop__BGnPo {
        top:80px
    }
}

@media screen and (min-width: 768px) {
    .LocationPopup_popup_container___6tXZ {
        padding:1.25rem;
        background: #fff;
        max-width: 1080px;
        max-height: 380px;
        overflow: auto;
        width: 75%;
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: .5rem;
        box-shadow: 0 -1px 15px 0 rgba(0,0,0,.3);
        display: flex;
        flex-direction: column
    }

    .LocationPopup_popup_container___6tXZ li {
        list-style: none
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR {
        padding: .75rem .75rem .5rem 1rem;
        width: 100%;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.078)
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC {
        display: inherit;
        align-items: center;
        width: 50%
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC .LocationPopup_search_icon__q4So3 {
        padding: 3px;
        margin-right: 8px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC .LocationPopup_location_icon__3M8Di {
        padding: 0 2px;
        margin-right: 8px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC.LocationPopup_use_my_loc__lvpUr {
        padding: 2px 4px;
        cursor: pointer;
        width: auto
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC.LocationPopup_use_my_loc__lvpUr:hover {
        background: rgba(255,0,0,.078);
        border-radius: 4px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF input {
        border: none;
        width: 93%;
        margin-left: 2rem;
        font-family: Lato Regular
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF:before {
        content: url(https://www.licious.in/image/search_venus_icon.svg);
        position: absolute;
        left: 0;
        top: -7px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF button {
        border: none;
        padding: 0;
        background: transparent;
        cursor: pointer
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 {
        max-height: 288px;
        overflow: auto
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2::-webkit-scrollbar {
        display: none
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 {
        padding: 1rem 10px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        flex-direction: column;
        cursor: pointer
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 img {
        margin: .1rem .75rem 0 0
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3:hover {
        background-color: #e1dede;
        color: #6d6e71
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 .LocationPopup_top_part__iypHh {
        margin-bottom: 4px;
        display: flex
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 .LocationPopup_top_part__iypHh .LocationPopup_address_line__64ecb {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_saved_address_heading__P5uFH {
        display: inline-block;
        margin: 32px 0 0 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: #808387
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_saved_addresses__uYeE_ {
        margin-top: 0
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_error_message__h3oR2 {
        color: #fff;
        background-color: #e41d36;
        padding: 10px 0;
        line-height: 1.3;
        font-size: 12px;
        font-family: Lato Regular,sans-serif;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .LocationPopup_popup_container___6tXZ {
        background:#fff;
        overflow: auto;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: absolute;
        box-shadow: 0 -1px 15px 0 rgba(0,0,0,.3)
    }

    .LocationPopup_popup_container___6tXZ li {
        list-style: none
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_title_container__JJaE6 {
        height: 60px;
        display: flex;
        align-items: center;
        z-index: 110;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,.05);
        background-color: #fff;
        position: fixed;
        top: 0
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_title_container__JJaE6 img {
        margin-left: 21px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_title_container__JJaE6 .LocationPopup_page_title__Ndd_o {
        margin-left: 15px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR {
        width: 100%;
        padding-top: 80px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi {
        width: 100%
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 16px;
        gap: 16px;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 2px 6px rgba(0,0,0,.08);
        border-radius: 12px;
        margin: 0 20px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC .LocationPopup_search_icon__q4So3 {
        padding: 3px;
        margin-right: 8px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_portion__olXjC .LocationPopup_location_icon__3M8Di {
        padding: 0 2px;
        margin-right: 8px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_placeholder__Xakwi .LocationPopup_use_my_loc__lvpUr {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 28px 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 16px;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 2px 6px rgba(0,0,0,.08);
        border-radius: 12px;
        margin: 0 20px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF input {
        border: none;
        width: 93%;
        margin-left: 2rem;
        font-family: Lato Regular
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF:before {
        content: url(https://www.licious.in/image/search_venus_icon.svg);
        position: absolute;
        left: 15px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_search_bar_container__jElBR .LocationPopup_search_bar__cLWrF button {
        border: none;
        padding: 0;
        background: transparent;
        cursor: pointer
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 {
        overflow: auto;
        margin: 0 10px
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2::-webkit-scrollbar {
        display: none
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 {
        padding: 1rem 10px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        flex-direction: column;
        cursor: pointer
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 img {
        margin: .1rem .75rem 0 0
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3:hover {
        background-color: #e1dede;
        color: #6d6e71
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 .LocationPopup_top_part__iypHh {
        margin-bottom: 4px;
        display: flex
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_address_item__j3US3 .LocationPopup_top_part__iypHh .LocationPopup_address_line__64ecb {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_saved_address_heading__P5uFH {
        display: inline-block;
        margin: 32px 0 0 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: #808387
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_popup_wrapper__YDukU .LocationPopup_address_list__Eqzf2 .LocationPopup_saved_addresses__uYeE_ {
        margin-top: 0
    }

    .LocationPopup_popup_container___6tXZ .LocationPopup_error_message__h3oR2 {
        color: #fff;
        background-color: #e41d36;
        padding: 10px 16px;
        line-height: 1.3;
        font-size: 12px;
        font-family: Lato Regular,sans-serif;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%
    }
}
