<div class="drawer" #drawerDiv>
    <h1>Hello World</h1>
    <div class="backdrop"></div><img class="close_drawer" (click)="closeDrawer()"
        src="https://www.licious.in/image/default/svg/cross-white.svg" alt="close">
    <!-- <div class="formWrapperContainer formWrapperWebsite "> -->
        <!-- <div class="backdrop"></div><img class="close_drawer" (click)="closeDrawer()"
        src="https://www.licious.in/image/default/svg/cross-white.svg" alt="close">
    <div class="formWrapperContainer formWrapperWebsite ">
        <div class="Login_login_wrapper__RoA7R"><img src="https://www.licious.in/image/rebranding/jpg/user-login-new.jpg"
                class="Login_login_img__AxDto" alt="Licious"></div>
        <div>
            <div class="Login_whole_wrapper__cu8dY Login_whole_wrapper_web__AOdXM">
                <div class="Login_signin_wrapper__TNvbZ"><span class="Login_sign_text__ZkHKv">Sign In/Sign Up</span>
                </div>
                <div class="Login_login_form__Ec5eD">
                    <div class="Login_attr__uUWfD">
                        <p class="Login_text_wrap__bj77e"><input type="text" required="" class="Login_input__yOelI "
                                id="login_mobile_number" value=""><label for="login_mobile_number">Mobile Number</label>
                        </p>
                        <div></div>
                        <div class="Login_login_type__gmKiJ"><button class="Login_proceed_login__RRYCI "
                                disabled="">Proceed Via OTP</button></div>
                        <div class="Login_terms__dL0DK"><span>By signing in you agree to our<span
                                    style="color: rgb(208, 2, 27); cursor: pointer;"> terms and conditions</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <div class="FormWrapper_popup_container__8xOg_ FormWrapper_popup_container_website__Hz2ZO loginWrapper ">
            <div class="Login_login_wrapper__RoA7R"><img src="https://licious.in/image/rebranding/jpg/user-login-new.jpg"
                    class="Login_login_img__AxDto" alt="Licious"></div>
            <div>
                <div class="Login_whole_wrapper__cu8dY Login_whole_wrapper_web__AOdXM">
                    <div class="Login_signin_wrapper__TNvbZ"><span class="Login_sign_text__ZkHKv">Sign In/Sign Up</span>
                    </div>
                    <div class="Login_login_form__Ec5eD">
                        <div class="Login_attr__uUWfD">
                            <p class="Login_text_wrap__bj77e"><input type="text" required="" class="Login_input__yOelI "
                                    id="login_mobile_number" value=""><label for="login_mobile_number">Mobile
                                    Number</label></p>
                            <div></div>
                            <div class="Login_login_type__gmKiJ"><button class="Login_proceed_login__RRYCI "
                                    disabled="">Proceed Via OTP</button></div>
                            <div class="Login_terms__dL0DK"><span>By signing in you agree to our<span
                                        style="color: rgb(208, 2, 27); cursor: pointer;"> terms and
                                        conditions</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>