.loginWrapper {
    background: #fff;
    width: 35%;
    max-width: 430px;
    height: 100%;
    overflow-y: scroll;
    right: 0;
    left: auto;
    transform: translateX(100%);
    transition: all .25s cubic-bezier(.62,.35,.05,.25);
    box-shadow: -5px 0 74px rgba(0,0,0,.8);
}
.FormWrapper_form_wrapper__DEx_r {
    display: block;
}
.FormWrapper_form_wrapper__DEx_r .FormWrapper_lock_screen_web__hFWfx {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 290;
}
.FormWrapper_form_wrapper__DEx_r .FormWrapper_popup_close___TuG3 {
    position: fixed;
    top: 25px;
    right: 450px;
    z-index: 500;
    cursor: pointer;
}
.FormWrapper_popup_container__8xOg_.FormWrapper_popup_container_website__Hz2ZO {
    background: #fff;
    width: 35%;
    max-width: 430px;
    height: 100%;
    overflow-y: scroll;
    right: 0;
    left: auto;
    transform: translateX(100%);
    transition: all .25s cubic-bezier(.62,.35,.05,.25);
    box-shadow: -5px 0 74px rgba(0,0,0,.8);
}
.FormWrapper_popup_container__8xOg_ {
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    font-family: Lato Regular,sans-serif;
    transform: translateY(100vh);
    transition: all .45s ease-in;
    animation: FormWrapper_location_show__NE1ab .3s ease-in forwards;
}

.Login_login_wrapper__RoA7R {
    width: 100%;
    height: 100%;
    position: fixed;
}
.Login_login_wrapper__RoA7R .Login_login_img__AxDto {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM {
    background-color: #fff;
    min-height: 400px;
}
.Login_whole_wrapper__cu8dY {
    border-radius: 3px;
    background-color: #fbfbfb;
    bottom: 0;
    position: fixed;
    width: 97%;
    margin: 0 5px;
    display: block;
    font-family: Lato Regular;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_signin_wrapper__TNvbZ {
    margin-bottom: -18px;
}
.Login_whole_wrapper__cu8dY .Login_signin_wrapper__TNvbZ {
    padding: 8px 12px;
    overflow: hidden;
    position: relative;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_signin_wrapper__TNvbZ .Login_sign_text__ZkHKv {
    font-size: 20px;
    font-weight: 700;
}
.Login_whole_wrapper__cu8dY .Login_signin_wrapper__TNvbZ .Login_sign_text__ZkHKv {
    font-family: Lato Bold;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding-bottom: 0;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD {
    box-shadow: none;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD {
    margin: 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.3);
    padding-bottom: 1px;
    padding-top: 5px;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e {
    margin-top: 16px;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e {
    margin: 0 10px;
    position: relative;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e .Login_input__yOelI {
    margin: 0;
    padding-left: 5px;
    line-height: 2.6;
    font-size: 17px;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e .Login_input__yOelI {
    margin-top: 22px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #cbcbcb;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e label {
    font-size: 16px;
    left: 3px;
    top: 11px;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_text_wrap__bj77e label {
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 24px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_login_type__gmKiJ {
    display: block!important;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_proceed_login__RRYCI {
    margin-top: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    height: 45px;
    border: none;
    font-size: 18px;
    background-color: #d4d4d4;
}
.Login_whole_wrapper__cu8dY .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_proceed_login__RRYCI {
    z-index: 2000;
    background-color: #cbcbcb;
    color: #fff;
    padding: 10px 0;
    width: 95%;
    border: 1px solid #cbcbcb;
    margin: 11px 8px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    font-family: Lato Regular;
}
.Login_whole_wrapper__cu8dY.Login_whole_wrapper_web__AOdXM .Login_login_form__Ec5eD .Login_attr__uUWfD .Login_terms__dL0DK {
    font-size: 16px;
    text-align: center;
    font-family: Lato Bold;
}
.Login_terms__dL0DK {
    font-size: 12px;
    text-align: center;
    margin-bottom: 7px;
}
span.condition{
    color: rgb(208, 2, 27);
    cursor: pointer;
}
// .Login_whole_wrapper__cu8dY {
//     border-radius: 3px;
//     background-color: #fbfbfb;
//     bottom: 0;
//     position: fixed;
//     width: 97%;
//     margin: 0 5px;
//     display: block;
//     font-family: Lato Regular;
// }
