

<!-- drawer  start-->
<app-drawer [showDrawer]="showDrawer"></app-drawer>
<!-- drawer end -->
<section class="navigationContainer_navigationContainer__L_hUU">
  <header class="PageHeader_top_navigation_section__UBRcs" data-page="">
    <nav class="PageHeader_header_container__Aj05D"><img class="PageHeader_licious_logo__xn_fQ" loading="lazy"
        height="52" width="100.74" alt="Licious" src="https://www.licious.in/image/rebranding/svg/licious-logo.svg">
      <div class="LocationHeader_location_container__cGaW7 false"><img class="LocationHeader_location_pin__cQWlr"
          src="https://www.licious.in/image/default/svg/Other-label.svg" width="16" height="16" loading="lazy">
        <div class="LocationHeader_align_right__celTN">
          <div class="LocationHeader_top_part__RmYRb"><span
              class="title_6 LocationHeader_city_name__0vmFz">Bengaluru</span><img src="https://www.licious.in/image/new_chevron.svg"
              width="12" height="6" loading="lazy"></div>
          <div class="text_2 LocationHeader_detecting__Gu_m_ LocationHeader_locality__ek6T2">Detecting Location</div>
        </div>
      </div><a class="SearchBar_searchbar_container__fxyji" href="/search"><input class="SearchBar_searchbar__n1nRT"
          autocomplete="off"><label class="title_5 SearchBar_search_label__1pPwi">Search for any delicious
          product</label></a>
      <div class="PageHeader_thirdSection__52tXv">
        <div class="CategoryDropdown_category_container__FWbDR">
          <div class="CategoryDropdown_categories_button__jXHfF"><img src="https://www.licious.in/image/rebranding/svg/categories-grey.svg"
              alt="Categories dropdown"><span class="title_7 ">Categories</span></div>
        </div>
        <div class="Loader_loaderContainer___z_zR" (click)="onLogIn()">
          <div class="Loader_loaderOff__kBChb"><span><img src="https://www.licious.in/image/rebranding/png/licious_smile.png"
                alt="Licious"></span></div>
          <div class="Loader_showChildren__P39Nk">
            <div class="ProfileDropdown_profile_container__Zyzjz">
              <div class="ProfileDropdown_profile_button__33Gw9"><img src="https://www.licious.in/image/rebranding/svg/profile-grey.svg"
                  alt="Profile" height="20" width="20" loading="lazy"><span
                  class="title_7  ProfileDropdown_namingGap__IFKny">&nbsp;Login</span></div>
            </div>
          </div>
        </div>
        <div class="Checkout_checkout_button__lJ_lo "><img src="https://www.licious.in/image/rebranding/svg/cart.svg" alt="Cart" height="20"
            width="20" loading="lazy">
          <div class="Checkout_cart_details__ofa3_ Checkout_rowStyle__BbFEW"><span class="title_7">Cart</span></div>
          <div class="MaterializeToast_materialize_toast__sn78h MaterializeToast_with_tooltip__hSjVp"></div>
          <div class="Toastify" id="checkoutAlert"></div>
        </div>
      </div>
    </nav>
  </header>
</section>

<div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>