<div id="home" class="homePageContainer">
    <div data-testid="widget_container" class="widget_container" data-layouttype="fullwidth">
        <article data-testid="widget_card" class="widget_largeCard"><a href="https://www.licious.in/shop-bestsellers-now"
                id="img_6_563"><img data-testid="offer-banner-img"
                    src="https://dao54xqhg9jfa.cloudfront.net/oms/efb0385c-f4c1-49b3-02f6-d79b690f8498/original/Breast_web_NEW_50.jpeg"
                    alt="Bestsellers"></a></article>
    </div>

  <app-category-holder [categories]="categories"></app-category-holder>

  <!-- <app-category-holder [bestSellers]="bestSellers"></app-category-holder> -->
  <!-- Best Sellers meat -->
  <app-purchase-item [itemData]="bestSellers"></app-purchase-item>

  <app-category-holder [freshLicious]="freshLicious"></app-category-holder>
  <!-- <app-category-holder [combos]="combosForYou"></app-category-holder> -->

  <!-- Combos meat -->
  <app-purchase-item [itemData]="combosForYou"></app-purchase-item>

  <!-- Ruppee 199 lover meat -->
  <app-purchase-item [itemData]="oneNinenineLoverData"></app-purchase-item>

  <!-- Breakfast meat -->
  <app-purchase-item [itemData]="breakfastmeatData"></app-purchase-item>

  <!-- Delicious meats -->
  <app-purchase-item [itemData]="deliciousBonlessData"></app-purchase-item>

  <!-- Top rated meats -->
  <app-purchase-item [itemData]="topRatedMeatData"></app-purchase-item>
</div>

<!-- Footer of Home/Product pages -->
<div id="footer">
  <app-footer></app-footer>
</div>
