<section class="popularChoicespopularChoicesContainerParent">
    <div class="popularChoicesPopularChoicesContainer">
        <div><span>POPULAR SEARCHES</span></div>
        <div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/chicken">Chicken</a></p><a
                    href="http://licious.in/chicken/chicken-breast-boneless-pr_57234a4f6f77b">Chicken Breast
                    (Boneless)</a> | <a
                    href="http://licious.in/chicken/chicken-curry-cut-large-pieces-pr_57234c427648b">Chicken (Skinless)
                    - Curry Cut (Large)</a> | <a href="http://licious.in/chicken/chicken-mince-pr_57234d5b5ee73">Chicken
                    Mince/Keema</a> | <a
                    href="http://licious.in/chicken/chicken-leg-curry-cut-large---4-pieces-pr_2j9jxbzk1cl">Chicken Leg
                    Curry Cut (Large - 4 pieces)</a> | <a
                    href="http://licious.in/chicken/chicken-lollipop---10-pieces-pr_ejejbf09h51">Chicken Lollipop - 10
                    Pieces</a> | <a
                    href="http://licious.in/chicken/tender-spring-chicken-curry-cut-pr_hn6k8alrcck">Tender Spring
                    Chicken Curry Cut</a> | <a
                    href="http://licious.in/chicken/chicken---whole-with-skin-pr_5723564821da3">Chicken - Whole with
                    Skin</a> | <a
                    href="http://licious.in/chicken/chicken-curry-cut-small-pieces-pr_5785b9065d7e1">Chicken Curry Cut
                    (Small - 13 to 16 Pieces)</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="/">Eggs</a></p><a
                    href="http://licious.in/eggs/classic-eggs---pack-of-6-pr_590f2bc508b4a">Classic Eggs - Pack Of 6</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="/">Mutton</a></p><a
                    href="http://licious.in/red-meat/goat-mince-keema-pr_579a530679ede">Goat Mince/Keema</a> | <a
                    href="http://licious.in/red-meat/rich-goat-curry-cut-small---16-to-20-pieces-pr_nbzk1sx8n3k">Rich
                    Goat Curry Cut (Small - 16 to 20 pieces)</a> | <a
                    href="http://licious.in/red-meat/lean-goat-curry-cut-small---16-to-20-pieces-pr_nbzk1sybkyi">Lean
                    Goat Curry Cut (Small - 16 to 20 pieces)</a> | <a
                    href="http://licious.in/red-meat/lean-lamb-curry-cut-small---16-to-20-pieces-pr_3isk1syezv7">Lean
                    Lamb Curry Cut (Small - 16 to 20 pieces)</a> | <a
                    href="http://licious.in/red-meat/rich-lamb-curry-cut-small---16-to-20-pieces-pr_ouuk1sxrqbr">Rich
                    Lamb Curry Cut (Small - 16 to 20 pieces)</a> | <a
                    href="http://licious.in/red-meat/lamb-ribs-chops-pr_o5pjg4pmg3n">Lamb Ribs and Chops</a> | <a
                    href="http://licious.in/red-meat/goat-ribs-chops-pr_4dmjfl18hj2">Goat Ribs and Chops</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/seafood">Fish &amp;
                        Seafood</a></p><a
                    href="http://licious.in/seafood/basa-fillet-platinum-grade-pr_5746a6e241199">Basa Fillet (Platinum
                    Grade) </a> | <a href="http://licious.in/seafood/mackerel-gutted-pr_57235831e3960">Premium Grade
                    Mackerel (Cleaned)</a> | <a
                    href="http://licious.in/seafood/freshwater-rohu-large---bengali-cut-no-head-pr_599441c9064f2">Freshwater
                    Rohu Large - Bengali Cut (w/o Head)</a> | <a
                    href="http://licious.in/seafood/freshwater-rohu-bengali-cut-without-head-pr_6j4jhlmxsk1">Freshwater
                    Rohu - Bengali Cut (Without Head)</a> | <a
                    href="http://licious.in/seafood/freshwater-prawns-60c---cleaned-deveined,-no-tail-pr_6zvk7zqjeap">Medium
                    Prawns - Without Tail</a> | <a
                    href="http://licious.in/seafood/seer-large---steaks-pr_5723580b90fd9">Seer (Surmai) Steaks</a> | <a
                    href="http://licious.in/seafood/freshwater-rohu-small---bengali-cut-no-head-pr_k3yk8iu1vgp">Freshwater
                    Rohu Small - Bengali Cut (without Head)</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="/">Ready to Cook</a></p><a
                    href="http://licious.in/marinades/caribbean-jerk-chicken-pr_572358cee5c09">Caribbean Jerk Chicken
                    (Boneless)</a> | <a
                    href="http://licious.in/marinades/habanero-chicken-wings-hot---10-pieces-pr_4rqjeo4sujr">Habanero
                    Chicken Wings (Hot) - 10 Pieces</a> | <a
                    href="http://licious.in/marinades/creamy-afghani-chicken-pr_8izjkuohf8n">Creamy Afghani Chicken</a>
                | <a href="http://licious.in/marinades/peri-peri-chicken-spicy-pr_572359462392e">Peri Peri Chicken
                    (Spicy)</a> | <a
                    href="http://licious.in/marinades/chicken-cutlet---bengali-style-pr_ntcjmw19kw5">Chicken Cutlet
                    (Bengali Style)</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/exotic">Exotic Meats</a>
                </p><a href="http://licious.in/exotic/atlantic-salmon-steaks-pr_579203c67b2ef">Atlantic Salmon
                    Steaks</a> | <a href="http://licious.in/exotic/blue-crab-pr_57235852e4987">Blue Crab</a> | <a
                    href="http://licious.in/exotic/sea-bass-fillet  -pr_572db2eb17e6e">Sea Bass/ Bhetki Fillet </a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/spreads">Spreads</a></p><a
                    href="http://licious.in/spreads/chunky-butter-chicken-spread-s-pr_4cyjya5vxs7">Chunky Butter Chicken
                    Spread (Single Serve)</a> | <a
                    href="http://licious.in/spreads/chunky-continental-chicken-spr-pr_4q4jya5rq6v">Chunky Continental
                    Chicken Spread</a> | <a
                    href="http://licious.in/spreads/chunky-shawarma-chicken-spread-pr_4q4jya5vg2a">Chunky Shawarma
                    Chicken Spread (Single Serve)</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/kebabs">Kebabs</a></p><a
                    href="http://licious.in/kebabs/afghani-murgh-seekh-kebab-pr_ikuk3ilucko">Afghani Murgh Seekh
                    Kebab</a> | <a
                    href="http://licious.in/kebabs/purani-dilli-ki-mutton-seekh-kebab-pr_inuk3ilznwg">Purani Dilli ki
                    Mutton Seekh Kebab</a>
            </div>
            <div class="popularChoicesSingleSectionContainer">
                <p class="popularChoicesCategoryName"><a href="https://www.licious.in/masalas">Meat Masala</a>
                </p><a href="http://licious.in/masalas/classic-meat-masala-pr_o2hlaqh6jv9">Classic Meat Masala</a> | <a
                    href="http://licious.in/masalas/dakshin-pepper-fry-masala-pr_ncplaqh86z8">Dakshin Pepper Fry
                    Masala</a> | <a href="http://licious.in/masalas/chatpata-fish-fry-masala-pr_kjdlaqh7g54">Chatpata
                    Fish Fry Masala</a> | <a
                    href="http://licious.in/masalas/classic-chicken-masala-pr_ncplaqh5mkw">Classic Chicken Masala</a> |
                <a href="http://licious.in/masalas/asli-garam-masala-pr_o2hlaqh0y11">Asli Garam Masala</a> | <a
                    href="http://licious.in/masalas/original-tandoori-chicken-masa-pr_ncplaqh1yxx">Original Tandoori
                    Chicken Masala</a> | <a
                    href="http://licious.in/masalas/shandaar-butter-chicken-masala-pr_o2hlaqh33oq">Shandaar Butter
                    Chicken Masala</a> | <a
                    href="http://licious.in/masalas/khansama-biryani-masala-pr_ggylaqh46m8">Khansama Biryani Masala</a>
            </div>
        </div>
    </div>
</section>